
@tailwind base;
@tailwind components;
@tailwind utilities;

.music-note {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    color: #ef4444;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-shadow: 0 0 10px rgba(239, 68, 68, 0.5);
}

::selection {
    background: #dc2626;
    color: white;
}

::-moz-selection {
    background: #dc2626;
    color: white;
}