
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    cursor: url('../images/cursor.png'), auto;
} */

.click-ball {
    position: fixed;
    width: 12px;
    height: 12px;
    background-color: #ef4444;
    border-radius: 50%;
    pointer-events: none;
    z-index: 100;
    box-shadow: 0 0 10px rgba(239, 68, 68, 0.5);
}

#main-card .relative.bg-slate-800\/60 {
    cursor: url('../images/cursor.png'), pointer;
}